<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
    <link rel="stylesheet" href="static/css/editar.css">

</head>
<body>

    <h1>Editar livro</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        <form action="{{ url_for('editar', id=livro[0]) }}" method="post">
            <label for="nome">Nome do livro: </label>
            <input type="text" id="nome" name="nome" value="{{ livro [1] }}" required>

            <label for="autor">Autor do livro: </label>
            <input type="text" id="autor" name="autor" value="{{ livro [2] }}" required>

            <label for="ano_publicacao">Ano de publicação: </label>
            <input type="number" id="ano_publicacao" name="ano_publicacao" value="{{ livro [3] }}" required>


                <button type="submit" class="btn">Salvar alterações</button>

        </form>
    </main>

</body>
</html>